<h1>Editing ai helper</h1>

<%= render "form", ai_helper: @ai_helper %>

<br>

<div>
  <%= link_to "Show this AI helper", @ai_helper %> |
  <%= link_to "Back to AI helpers", ai_helpers_path %>
</div>
